---
import OpenFolder from "./open-folder.astro";

interface Props {
    folderName: string;
    slug: string;
}

const { folderName, slug } = Astro.props;
---

<div class="flex justify-center items-center px-2 md:px-0">
    <a
        href={`/${slug}`}
        class="flex flex-col items-center justify-center text-lg md:text-2xl text-center font-semibold"
    >
        <OpenFolder />
        <span class="-mt-5">{folderName}</span>
    </a>
</div>
