---
import Layout from "../layouts/Layout.astro";
import Header from "../components/landing/header.astro";
import Folders from "../components/landing/folders.astro";
import Footer from "../components/landing/footer.astro";
---

<Layout title="Template - EPK">
    <main class="max-w-screen-2xl mx-auto">
        <Header />
        <Folders />
        <Footer />
    </main>
</Layout>
