---
import {Image} from "astro:assets";
---

<footer
    class="flex flex-col md:flex-row gap-5 items-center md:justify-between md:px-10 mt-20 w-full mb-4"
>
    <img
        src="public/LogoFran-s.png"
        width="80"
        height="58"
        alt="Latin Power Music Logo"
        loading="eager"
        >
    <p class="text-sm text-center">
        Copyrigth © 2025. FRAN. <br />
        Todos los derechos reservados.
    </p>
</footer>
